
.blog-area {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.cart-summary {
  font-family: "Times New Roman", Times, serif;
}
.cart-section {
  margin-top: 120px !important;
  margin: auto;
}
.my-info {
  margin-top: 40px !important;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: auto;
  padding: 5px;
}

.time {
  width: 75%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: auto;
  padding: 5px;
}
